body {
  height: 100%;
  margin: 0;
  display: block;
}

.container {
  position: relative;
}

h1 {
  color: white;
}

.jumbotron.d-flex.align-items-center.min-vh-100 {
  background-image: url("background-image.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
  -ms-content-zooming: none;
  position: absolute;
  width: 100%;
  height: 100%;
  margin: 0;
}

#login {
  /* background-color: rgba(0, 0, 0, 0.5); */
  font-family: "Poppins", sans-serif;
  width: 500px;
  justify-content: center;
} 

#loggedin {
  display: inherit;
  margin: 0;
  padding: 0;
  background-color: rgba(255, 255, 255, 0.5);
  font-family: "Poppins", sans-serif;
  max-width: 25rem;
}

#spotify-logo {
  max-width: 45%;
  display: inherit;
}

.btn.btn-light {
  display: inherit;
  border-radius: 2rem;
  padding: 0.5rem 2rem;
  margin-top: 2rem;
  max-width: 11rem;
}

.search {
  display: inherit;
}
