body {
  height: 100%;
  margin: 0;
}

.background-image {
  background-image: url("background-image.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
  -ms-content-zooming: none;
  position: absolute;
  width: 100%;
  height: 100%;
}

h1 {
  color: white;
}

#login {
    text-align: center;
    background-color: rgba(255, 255, 255, 0.5);
    font-family: 'Poppins', sans-serif;
}
